body{
    background-color: red;
}
h1{
    color: white;
    margin-top: 20px;
    text-align: center;
}
nav{
    width: 25%;
    margin-left: 37%;
   
}

img{
    height: 200px;
    padding: 0px 65px 0px 65px;
}
